{% extends 'layout/base.html.twig' %}

{% block content %}
    {% set title = 'Home page' %}
    <h1>{{ title }}</h1>

    <h1>Members</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}